---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const posts = await getCollection(
	"posts",
	(post) => post.data.visibility === "public",
);
---

<Layout title="Blog" description="An overview of Hugo Korte's blog posts" type="website">
  <h1>Blog</h1>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.id}`}>
            <strong>{post.data.title}</strong>
          </a>
          : {post.data.description}
        </li>
      ))
    }
  </ul>
</Layout>
