---
import { Image } from "astro:assets";
import { getCollection, getEntry, render } from "astro:content";
import Layout from "../../../layouts/Layout.astro";

export async function getStaticPaths() {
	const posts = await getCollection("posts", (post) =>
		["public", "hidden"].includes(post.data.visibility),
	);
	return posts.map((post) => {
		return {
			params: {
				slug: post.id,
			},
		};
	});
}

const post = await getEntry("posts", Astro.params.slug);

if (!post) {
	throw new Error(`No post found: ${Astro.params.slug}`);
}

const { Content } = await render(post);
---

<Layout>
  <h1>{post.data.title}</h1>
  {post.data.image && <Image src={post.data.image} alt={post.data.title} />}
  <Content />
</Layout>
