---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section class="grid place-items-center gap-4 py-16">
			<div class="place-items-end">
				<h1 class="text-4xl md:text-6xl lg:text-8xl mb-4">Hugo Korte</h1>
				<span class="text-sm md:text-base lg:text-lg text-neutral-300 dark:text-neutral-700">Software Engineer (at times)</span>
			</div>
	</section>
	<section>
		<h2>About</h2>
		<p>
			Hi, my name is Hugo, aka Hugos68. I could bore you with some AI generated paragraph about myself but I wont.
			I enjoy contributing to Open Source Software and currently am working on <a href="https://github.com/skeletonlabs/skeleton" target="_blank">Skeleton</a> at Skeleton Labs.
		</p>
		<p>
			I'm currently in my 4th year of my bachelors in computer science. I'm fluent in TypeScript, Svelte, Java, C# and Go.
			If you're interested in hiring feel free to contact me, whether that's through Github, E-mail, Discord or any other platform.
		</p>
	</section>
</Layout>
