---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section class="grid place-items-center gap-4 py-16">
			<div class="place-items-end">
				<span class="block text-4xl md:text-6xl lg:text-8xl mb-4">Hugo Korte</span>
				<span class="block text-sm md:text-base lg:text-lg text-neutral-300 dark:text-neutral-700">Software Engineer (at times)</span>
			</div>
	</section>
	<section>
		<h1>About</h1>
		<p>
			Hey, I'm Hugo (aka Hugos68). I'm a software engineer with a passion for Open Source and a dedicated coffee enthusiast. Currently, I'm part of the team at Skeleton Labs, where I contribute to <a href="https://github.com/skeletonlabs/skeleton" target="_blank">Skeleton</a>.
		</p>
		<p>
			Wrapping up my final year in Computer Science, I've built a solid foundation in multiple languages including TypeScript, Java, C#, Dart, and Go. My current focus is on frontend development, where I primarily work with React and Svelte to build modern, accessible and performant web applications.
		</p>
		<p>
			Looking for a developer who's passionate about creating great software? Let's connect! You can reach me through GitHub, E-mail, Discord or any other platform.
		</p>
	</section>
</Layout>
