---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="grid gap-4 w-fit">
		<h1 class="text-4xl">Hugo Korte</h1>
		<span class="text-sm text-neutral-500 text-right">Software Engineer (at times)</span>
	</div>
</Layout>
