---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1>Use</h1>
	<p>This is a listing of all technology I use both Hardware/Software.</p>
	<h2>Editors</h2>
	<ul>
		<li>Web Development:: <a href="https://www.jetbrains.com/webstorm/" target="_blank">Jetbrains Webstorm</a></li>
		<li>JVM (Java/Kotlin/Scala): <a href="https://www.jetbrains.com/idea/" target="_blank">Jetbrains Intellij IDEA</a></li>
		<li>Mo: <a href="https://developer.android.com/studio" target="_blank">Android Studio</a></li>
		<li>C#: <a href="https://www.jetbrains.com/rider/" target="_blank">Jetbrains Rider</a></li>
	</ul>
	<h2>Gear</h2>
	<ul>
		<li>Mouse: Zowie EC3-CW</li>
		<li>Keyboard: Womier SK75</li>
		<li>Monitor: Gigabyte M27Q X</li>
	</ul>
	<h2>PC Specifications</h2>
	<ul>
		<li>CPU: Ryzen 5 5600</li>
		<li>GPU: AMD RX 6800 XT</li>
		<li>RAM: HyperX Fury DDR4 3200 32 GB (2x16)</li>
		<li>Storage: 500 GB M.2, 500 GB SSD</li>
	</ul>
</Layout>
