---
import Github from "lucide-astro/Github";
import Rss from "lucide-astro/Rss";
import Search from "lucide-astro/Search";
import SearchButton from "../components/SearchButton.tsx";
---

<header class="grid grid-flow-col justify-between p-8 border-b">
	<nav class="grid grid-flow-col gap-4">
		<a href="/">About</a>
		<a href="/work">Work</a>
		<a href="/blog">Blog</a>
		<a href="/use">Use</a>
	</nav>
	<nav class="grid grid-flow-col gap-4">
		<SearchButton client:load><Search></Search></SearchButton>
		<a href="https://github.com/Hugos68" target="_blank"><Github></Github></a>
		<a href="/rss.xml" target="_blank"><Rss></Rss></a>
	</nav>
</header>