---
import Icon from './Icon.astro';
---
<header class="grid grid-flow-col justify-between p-8 border-b">
	<nav class="grid grid-flow-col gap-4">
		<a href="/">Hugo</a>
		<a href="/work">Work</a>
		<a href="/blog">Blog</a>
	</nav>
	<button>
		<kbd>CMD + K</kbd>
	</button>
	<nav class="grid grid-flow-col gap-4">
		<a href="https://github.com/Hugos68" target="_blank"><Icon name="Home"></Icon></a>
		<a href="https://bsky.app/profile/hugokorte.bsky.social" target="_blank"><Icon name="siBluesky"></Icon></a>
		<a href="/rss.xml" target="_blank"><Icon name="siRss"></Icon></a>
	</nav>
</header>