---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const projects = await getCollection("projects");
---

<Layout title="Work" description="An overview of Hugo Korte's work" type="website">
	<h1>Work</h1>
	<ul>
		{projects.map(project => (
			<li>
				<a href={project.data.source} target="_blank"><strong>{project.data.title}</strong></a>: {project.data.description}
			</li>
		))}
	</ul>
</Layout>
