---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
	<h1>Use</h1>
	<h2>Software</h2>
	<ul>
		<li>Operating System: <a href="https://www.microsoft.com/nl-nl/windows" target="_blank">Windows 11</a></li>
		<li>Editor: <a href="https://www.jetbrains.com/webstorm/" target="_blank">Jetbrains Webstorm</a></li>
		<li>Package Manager: <a href="https://pnpm.io/" target="_blank">Pnpm</a>, trying <a href="https://bun.sh/" target="_blank">Bun</a></li>
	</ul>
	<h2>Gear</h2>
	<ul>
		<li>Mouse: <a href="https://zowie.benq.eu/en-eu/mouse/ec3-cw.html" target="_blank">Zowie EC3-CW</a></li>
		<li>Keyboard: <a href="https://womierkeyboard.com/products/womier-sk75" target="_blank">Womier SK75</a></li>
		<li>Microphone: <a href="https://fifinemicrophone.com/products/usb-microphone-for-mac-and-windows-k670" target="_blank">Fifine K670</a></li>
		<li>Monitor: <a href="https://www.gigabyte.com/Monitor/M27Q-X-rev-10" target="_blank">Gigabyte M27Q X</a></li>
	</ul>
	<h2>PC Build</h2>
	<ul>
		<li>Processor: <a href="https://www.amd.com/en/support/downloads/drivers.html/processors/ryzen/ryzen-5000-series/amd-ryzen-5-5600.html" target="_blank">AMD Ryzen 5 5600</a></li>
		<li>Graphics: <a href="https://www.amd.com/en/products/graphics/desktops/radeon/6000-series/amd-radeon-rx-6800-xt.html" target="_blank">AMD RX 6800 XT</a></li>
		<li>Ram: <a href="https://shop.kingston.com/collections/memory/products/beast-ddr4-rgb-desktop-memory?variant=43826214142144" target="_blank">Kingston FURY Beast DDR4 32GB (2x16)</a></li>
		<li>Storage: <a href="https://www.samsung.com/nl/business/memory-storage/nvme-ssd/980-nvme-m2-ssd-mz-v8v500bw/?srsltid=AfmBOopbnaarbc2Cc7wTxmN-XqVsa6iUInKqoyQj5xSKw5I5iFNy7QkO" target="_blank">Samsung SSD 980 NVME M.2 500 GB</a></li>
	</ul>
</Layout>
