---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";
---
 	
<!doctype html>
<html lang="en" transition:animate="none">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Hugo Korte</title>
		<ClientRouter></ClientRouter>
	</head>
	<body class="container mx-auto grid gap-4">
		<a class="absolute left-0 top-0 not-focus:sr-only bg-blue-500 text-white px-4 py-2 z-50" href="#main">SKIP TO MAIN CONTENT</a>
		<Header></Header>
		<Main><slot></slot></Main>
		<Footer></Footer>
	</body>
</html>
