---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import { SEO } from "astro-seo";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";

interface Props {
	title?: string;
	type?: string;
	description?: string;
	image?: string;
}

const title = Astro.props.title || "Hugo Korte";
const type = Astro.props.type || "website";
const description = Astro.props.description || "Hugo Korte's personal website";
const image = Astro.props.image || "/images/hugo-korte.jpg";
---
 	
<!doctype html>
<html lang="en" transition:animate="none">
	<head>
		<SEO
			title={Astro.props.title}
			description={description}
			openGraph={{
				basic: {
					title: title,
					type: type,
					image: image
				}
			}}
			twitter={{
				card: "summary_large_image",
				site: "@HugosOffEarth",
				creator: "@HugosOffEarth"
			}}
			extend={{
				link: [
					{
						rel: "icon",
						type: "image/svg+xml",
						href: "/favicon.svg",
					},
					{
						rel: "sitemap",
						href: "/sitemap-index.xml",
					}
				],
				meta: [
					{
						name: "viewport",
						content: "width=device-width, initial-scale=1",
					},
				]
			}}
		></SEO>
		<ClientRouter></ClientRouter>
	</head>
	<body class="container mx-auto grid gap-4">
		<a class="absolute left-0 top-0 not-focus:sr-only bg-blue-500 text-white px-4 py-2 z-50" href="#main">SKIP TO MAIN CONTENT</a>
		<Header></Header>
		<Main><slot></slot></Main>
		<Footer></Footer>
	</body>
</html>
